#o{
	background-color: rgb(240, 0, 255);
}

img{

    "height: 600px;
    margin-bottom: 700px;
    width: 500px;
    margin-bottom: 700px;"
}
a{
    background-color: rgb(240, 0, 255);
   
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
}
body{

    background-image: url("lll.gif");
    background-size: 300%;



