 <!DOCTYPE html>
<html>
<head>
<title>HTML Tutorial</title>
<link href="style.css">
#bahlool
{
	color:red;
	display: block; 

}
.Byallow
{
	color:rgba(255,255,255,0);
}
body{
	background-color: green;
}
.img{
  width:30%;
  height:50%;
}
.img{
  width:40%;
  height:50%;
  border: dotted;
}
</style>
</head>
<body>
	 <table style="width:50%;height:100%">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Age</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>94</td>
  </tr>
</table> 
<h1>This is a heading</h1>
<div>
<h2>oooo</h2
	<--> this code make the font smaller -->

<img src ="/home/code/Desktop/presenations/images.png" alt ="HTML Tutorial"
Style="width:8%;height:9%"margin-top: 90px;
margin-right: 90px;
padding-right: 0px;
padding-left: 0px;
margin-left: 70px;>
</div>
<p>This is a paragraph.</p>
<href>
<h1 id="bahlool">bahlool</h1>
<h1 class="ba">bahlool</h1>
<h1 class="ba">bahlool</h1>
<h1>bahlool</h1>
<h1>bahlool</h1>
<h1>tooot</h1>

<a href="ba.html">click hon </a>
</body>
</html> 
